* {
  margin: 0;
  padding: 0;
  font-family: math, serif;
}

.labelofexam {
  margin-left: 33px;
}

:root {
  --file-background-color: linear-gradient(135deg, #e8f5fe, #00fff7);
  --heading-color: #273b6b;
  --form-background-color: #f7f7f7;
  --shadow: 0px 0px 56px rgba(69, 69, 69, .2);
  --border: 3px solid #00ffff;
  --button-color-before-hover: #e1fffe;
  --button-color-after-hover: #000000;
  --button-text-after-hover: rgb(253, 219, 150);
  --button-border-after-hover: 5px solid #000000;

}

[data-theme="dark"] {
  --file-background-color: linear-gradient(135deg, #595959, #000000);
  --heading-color: #9a9a9a;
  --form-background-color: #f7f7f7;
  --shadow: 0px 0px 56px rgba(69, 69, 69, .2);
  --border: 3px solid #00ffff;
  --button-color-before-hover: #e1fffe;
  --button-color-after-hover: #000000;
  --button-text-after-hover: rgb(253, 219, 150);
  --button-border-after-hover: 5px solid #000000;
}


::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;

}

::-webkit-scrollbar-track {
  background: #676767;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}


.screen-div {
  font-size: 1.5rem;
  height: 100vh;
  margin: auto;
  background: var(--file-background-color);
  transition: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.admin-panel-heading {
  margin: auto;
  text-align: center;
  padding: 5px;
  color: var(--heading-color);
  margin-bottom: 12px;

}

.file-upload-div {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 40px;
  padding: 17px;
}

h3 {
  margin-top: 22px;
  color: var(--heading-color);
}

.choosefile-div {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 0px; */
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--form-background-color);
  height: 50%;
  margin: 10px;
  min-width: 50%;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0px 0px 56px rgba(69, 69, 69, .2);
  padding-bottom: 0px;
}

input::file-selector-button {
  font-weight: bold;
  background-color: rgba(5, 0, 70, 0.88);
  color: rgb(255, 255, 255);
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shadow);
  margin-left: 25px;
  margin-top: 10px;
}

.fileupload-options-or-buttons-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.fileupload-options-div select,
.fileupload-options-div input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  background: #eeeeee;
  margin-top: 15px;
  margin-inline: 10px;
  font-size: 1.1rem;
}


.file-upload-div button {
  background: #e8e8e8;
  padding: 8px 13px;
  border: none;
  margin: 13px;
  border-radius: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.file-upload-div button:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.26));
  background: #001a1a;
  color: white;
  transition-duration: 0.2s;
}



/* PdfList Styles */

.pdf-list {
  display: flex;
  background: linear-gradient(72deg, #e8f5fe, #00fff7);
  flex-wrap: wrap;
  /* margin: 5px; */
  justify-content: space-evenly;
  padding-right: 25px;
}

.pdf-card {
  margin-top: 25px;
  background: #f2f2f2b8;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  margin-left: 25px;
  min-width: 400px;
}



.pdf-card button {
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  border: none;
  margin: 10px 10px 0 0;
  cursor: pointer;
  transition-duration: 0.2s;
  font-weight: bolder;
  font-size: 1.1rem;
}

.pdf-card button:hover {
  background-color: #001a1a;
  color: white;
}

.delete-pdf-button {
  background-color: white;
  border: 3px solid rgb(255, 0, 0);
}

.view-pdf-button {
  border: 3px solid rgb(0, 255, 102);
}

.themediv {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: wheat;
  padding: 20px;
  cursor: pointer;
  animation: animateWhenTouch 0.2s ease-in-out
}

.darkthemeicon {
  transform: scale(1.5);
}

.themediv:active {
  /* transform: scale(1.1); */
  /* transition-duration: 0.2s;*/
  animation: animateWhenTouch 0.5s 0.5s ease-in-out both;
}

@keyframes animateWhenTouch {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: scale(0.95);
    animation-timing-function: ease-in-out;
  }

}

@media (orientation: portrait) {
  .pdf-card {
    margin-top: 25px;
    background: #f2f2f2b8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin-left: 25px;
    min-width: auto;
  }

  .file-upload-div {
    width: 80%;
  }

}